<div class="home about">
  <div class="">
    <h1>Bill Kohler</h1>
    <div class="about-links">
      <%= link_to 'music', "https://www.last.fm/user/mifami" %> |
      <%= link_to 'film', "https://letterboxd.com/williamkohler/likes/films/by/release/" %> |
      <%= link_to 'code', "https://github.com/williamkohler" %>
    </div>
  </div>
</div>
