<div class="home about">
  <div class="home-wrapper">
    <h1><%= link_to "Bill Kohler", 'mailto:bkohler4@gmail.com?' %></h1>
    <div class="about-links">
      <%= link_to 'music', "https://www.last.fm/user/mifami" %> |
      <%= link_to 'film',
          "https://letterboxd.com/williamkohler/likes/films/by/release/" %> |
      <%= link_to 'code', "https://github.com/williamkohler" %>
    </div>
  </div>
</div>
