<% if params[:music] %>
  <div class="space-breaker"></div>
  <ul>
    <li>
      <%= link_to "now playing 'flip out' by jai paul",
                  'https://soundcloud.com/apmitra/flip-out' %>
    </li>
  </ul>
  <%= render 'soundcloud_music_autoplay' %>
<% else %>
  <%= link_to 'play music', root_path(music: true) %>
<% end %>
