@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$app-green:  #5be5bd;

body {
  margin: 0;
  padding: 0;
}


.home {
  align-items: center;
  // background-image: image-url('pink-clouds');
  background-position: center top;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-family: 'Raleway', helvetica, sans;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100vw;
}


.home-wrapper {
  margin: 0 4%;
  h1 {
    a {
      color: white;
    }
  }
}

h1 {
  display: block;
  border: 1px solid blue;
  font-size: 6.5em;
  border: 0;
  margin: 0;
  color: white;
}

.about-links {
  font-size: 3em;
  font-weight: 400;
}

a {

  text-decoration: none;
}

.home-banner-1 {
  background-image: image-url('pink-clouds')
}

.home-banner-2 {
  background-image: image-url('blossoms')
}

.home-banner-3 {
  background-image: image-url('hands')
}

.home-banner-4 {
  background-image: image-url('pink-photo')
}

/* Icons */
.icon {
  font-size: 6em;
  margin: 0 16px;
  // color: $app-green;
}
